<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.excelonline.spring.annotation.vehicle"/>
	<!-- <context:annotation-config/>
	 -->
	<!-- <bean id="car" class="com.excelonline.spring.annotation.vehicle.fourwheel.Car"/>
	<bean id="bike" class="com.excelonline.spring.annotation.vehicle.twowheel.Bike"/>

 	<bean id="vehicle" class="com.excelonline.spring.annotation.vehicle.Vehicle"/>
 -->
<!-- 	<bean id="vehicle" class="com.excelonline.spring.annotation.vehicle.Vehicle">
		<property name="car" ref="car"/>
		<property name="bike" ref="bike"/>
	</bean>
 --> </beans>