<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id = "dat" class = "java.util.Date"/>
	<bean id = "tbean" class = "com.excelonline.spring.core_01.applicationContextContainer._16FactoryBean.TestBean"/>
	
	<bean id = "db" class = "com.excelonline.spring.core_01.applicationContextContainer._16FactoryBean.DemoBean">
		<property name="dt">
			<ref bean = "dat" />
		</property>
		<property name="cl">
			<ref bean = "tbean"/>
		</property>
	</bean>
</beans>