<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id = "cal" class = "java.util.Calendar" factory-method = "getInstance"/>
	
	<bean id = "t1" class = "com.excelonline.spring.core_01.iocContainer._11StaticFactory.TestBean" factory-method = "getTestBean">
		<constructor-arg>
			<value>Gmg. my dear friends...  :)</value>
		</constructor-arg>
	</bean>
	
	<bean id = "db" class = "com.excelonline.spring.core_01.iocContainer._11StaticFactory.DemoBean">
		<property name = "cl" ref="cal"/>
		<property name = "tb" ref="t1"/>
	</bean>

</beans>